<h2>Available drones</h2>

{{#each dronesList as | drone |}}
    <p> Name: {{name}} Propellers: {{propellers}} MaxSpeed: {{maxSpeed}} </p>
    <a href="/drones/{{_id}}/edit">Edit drone</a>
    <form action="/drones/{{drone._id}}/delete" method="post" >
        <input type="submit" value="Delete">
    </form>
{{/each}}